[Unit]
Description=Echo IP Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/echo_ip -log /var/log/echo_ip.log
WorkingDirectory=/usr/local/bin
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
